body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: lightblue;
}

header{
    display: flex;
    width: 100%;
    height: 60px;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    color: chocolate;
    background-color: bisque;
}

.posts {
    display: flex;
    flex-direction: column;
    width: 80%;
    justify-content: center;
    margin: 8px;
    border-radius: 8px;
    padding: 20px;
    background-color: #fff;
}