body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: lightblue;
}

header{
    display: flex;
    width: 100%;
    height: 60px;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    color: chocolate;
    background-color: bisque;
}

.posts {
    display: flex;
    flex-direction: column;
    width: 80%;
    justify-content: center;
    margin: 8px;
    border-radius: 8px;
    padding: 20px;
    background-color: #fff;
}

.titulo {
    margin: 8px 0 12px 0 ;
}
.subtitulo{
    margin: 4px;
}

.button{
    height: 32px;
    color: chocolate;
    border-radius: 8px;
    border: 2px solid chocolate;
    /* width: 12%; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4px;
    font-weight: 600;
    transition: all 0.4s;
}
.button:hover{
    background-color: chocolate;
    color: #fff;
}